<h1>Shared Code</h1>

<h2>Derniers articles</h2>
<% @articles = get_last_articles %>
<% @articles.each do |article| %>
    <h3><%= link_to article.name, article %></h3>
    <% @image_article = Image.find(article.image_id) %>
    <img src="<%= @image_article.path %>" alt="<%= @image_article.alt %>">
<% end %>
